body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 1in;
  padding: 0;
  line-height: 1.6;
  background-color:aqua;
  color: #222;
}

header{
  background-color:blue;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

header h1{
  margin-bottom: 5px;
}
header a{
  color: #fff;
  text-decoration: underline;
}

.profile-photo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;
  border: 3px solid white;
  object-position: 50% 100%;
  transform: scale(1.3);
}

h2{
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
}

ul{
  list-style-type: disc;
  padding-left: 20px;
}

footer{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}